<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pension.dao.FaceRecognitionRecordDao">
    
    <resultMap id="BaseResultMap" type="com.example.pension.model.FaceRecognitionRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="person_id" property="personId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
        <result column="similarity1" property="similarity" jdbcType="DOUBLE"/>
        <result column="similarity2" property="similarity2" jdbcType="DOUBLE"/>
        <result column="verify_status" property="verifyStatus" jdbcType="INTEGER"/>
        <result column="verify_type" property="verifyType" jdbcType="INTEGER"/>
        <result column="person_type" property="personType" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="nation" property="nation" jdbcType="VARCHAR"/>
        <result column="card_type" property="cardType" jdbcType="VARCHAR"/>
        <result column="id_card" property="idCard" jdbcType="VARCHAR"/>
        <result column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <result column="telnum" property="telnum" jdbcType="VARCHAR"/>
        <result column="native_place" property="nativePlace" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="notes" property="notes" jdbcType="VARCHAR"/>
        <result column="mj_card_from" property="mjCardFrom" jdbcType="VARCHAR"/>
        <result column="is_no_mask" property="isNoMask" jdbcType="VARCHAR"/>
        <result column="device_id" property="deviceId" jdbcType="VARCHAR"/>
        <result column="push_type" property="pushType" jdbcType="VARCHAR"/>
        <result column="opendoor_way" property="opendoorWay" jdbcType="VARCHAR"/>
        <result column="sz_qr_code_data" property="szQrCodeData" jdbcType="VARCHAR"/>
        <result column="mj_card_no" property="mjCardNo" jdbcType="VARCHAR"/>
        <result column="rfid_card" property="rfidCard" jdbcType="VARCHAR"/>
        <result column="temp_valid" property="tempValid" jdbcType="INTEGER"/>
        <result column="custom_id" property="customId" jdbcType="VARCHAR"/>
        <result column="person_uuid" property="personUuid" jdbcType="VARCHAR"/>
        <result column="valid_begin" property="validBegin" jdbcType="VARCHAR"/>
        <result column="valid_end" property="validEnd" jdbcType="VARCHAR"/>
        <result column="sendtime" property="sendintime" jdbcType="INTEGER"/>
        <result column="direction" property="direction" jdbcType="INTEGER"/>
        <result column="record_id" property="recordId" jdbcType="BIGINT"/>
        <result column="dw_file_index" property="dwFileIndex" jdbcType="INTEGER"/>
        <result column="dw_file_pos" property="dwFilePos" jdbcType="BIGINT"/>
        <result column="sanp_pic" property="sanpPic" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, person_id, create_time, similarity1, similarity2, verify_status, verify_type, person_type,
        name, gender, nation, card_type, id_card, birthday, telnum, native_place, address, notes,
        mj_card_from, is_no_mask, device_id, push_type, opendoor_way, sz_qr_code_data, mj_card_no,
        rfid_card, temp_valid, custom_id, person_uuid, valid_begin, valid_end, sendtime, direction,
        record_id, dw_file_index, dw_file_pos, sanp_pic, created_at, updated_at
    </sql>
    
    <insert id="insert" parameterType="com.example.pension.model.FaceRecognitionRecord" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO face_recognition_record (
            person_id, create_time, similarity1, similarity2, verify_status, verify_type, person_type, name, gender,
            nation, card_type, id_card, birthday, telnum, native_place, address, notes, mj_card_from,
            is_no_mask, device_id, push_type, opendoor_way, sz_qr_code_data, mj_card_no, rfid_card,
            temp_valid, custom_id, person_uuid, valid_begin, valid_end, sendtime, direction, record_id,
            dw_file_index, dw_file_pos, sanp_pic, created_at, updated_at
        ) VALUES (
            #{personId}, #{createTime,jdbcType=VARCHAR}, #{similarity}, #{similarity2}, #{verifyStatus}, #{verifyType}, #{personType}, #{name}, #{gender},
            #{nation}, #{cardType}, #{idCard}, #{birthday}, #{telnum}, #{nativePlace}, #{address}, #{notes}, #{mjCardFrom},
            #{isNoMask}, #{deviceId}, #{pushType}, #{opendoorWay}, #{szQrCodeData}, #{mjCardNo}, #{rfidCard},
            #{tempValid}, #{customId}, #{personUuid}, #{validBegin}, #{validEnd}, #{sendintime}, #{direction}, #{recordId},
            #{dwFileIndex}, #{dwFilePos}, #{sanpPic}, #{createdAt}, #{updatedAt}
        )
    </insert>
    
    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM face_recognition_record
        WHERE id = #{id}
    </select>
    
    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM face_recognition_record
        ORDER BY recognition_time DESC
    </select>
    
</mapper>